  /* HEADER */

header {

    background-color: #242325;
    height: 100%;
    width: 100%;
    align-items: center;
	padding: 3% 0 8% 2%;
    margin: auto;
    
}




.headings {
    display: grid;
    color: #eee;
    justify-content: start;
    margin: 0;
    margin-bottom: 5%;
    float: left;


}



.lima-logo {
    display: block;
    margin: 0;
    float: left;
    
}

/*
  #logo {
     max-width: 100px;
     margin-left: 3%;
    
  }
*/
.clearfix:after {
    content: "";
    display: table;
}

  header h1 {
    letter-spacing: 2pt;
    margin-bottom: 0;
    font-size: 2.0rem;
    font-family: Lobster, cursive;

  }

  header h2 {
    margin-top: 0;
    font-size: .5rem;
    font-family:  Roboto, sans-serif;
  }


  .social {
    display: block;
    text-align: end;
    padding: 5% 8% 2% 0;
    flex-grow: 1;
    
}

.social svg {
	width: 30px;
	height: auto;
}

.social p {
    color: #eee;
    font-size: 0.8rem;
    padding-left: 8px;
    margin: 0;
}




/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


nav button {
    width: 90%;
    background-color: #bbb891;
    border: none;
    font-size: 2rem;
    color: #555;
    text-align: end;
    
}


nav {
    display: block;
    background-color: #bbb891;
    font-family: Roboto, sans-serif;;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}



nav ul li a:hover {
    background-color: #c8c8c8 ;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}



#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}


#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}





  /* MAIN */
main {
    grid-template-columns: 1fr ;
}




  main {
    display: grid;
    padding: .5rem;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    
}

.event, .wheater, .join, .release, .hero {
    justify-content: center;
    background-color: #716e6ef3;
    border: 1px solid black;
    height: 260px;

}
.join {
    display: none;
}


.spotlight-boxes {
    border: 1px solid black;
    justify-content: center;
    background-color: #ffffff;
    max-width: 100%;
    padding: 2%;
    
}

.spotlight, .spotlight3 {
    border: solid #000  1px;
    justify-content: center;
    background-color: #716e6ef3;
    max-width: 100%;
    height: 150px;
    margin: 0.2rem;

}

.spotlight3 {
    display: none;
}


/*              Hero                          */

.hero {
    background-image: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)), url(../images/wdd230-org-small.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
}


.hero p {
    text-align: center;
    font-size: 2rem;
    color: #f2f2f2;
    font-family: Lobster, cursive;
    text-shadow: 10px 10px 10px #000;
    margin: auto;    
}


.hero button {
    max-height: 35%;
    width: 50%;
    border-radius: 10px ;
    justify-self: center;
    
}

.hero button:hover {
    background-color: #e1d8d8;
}




.event {
    background-image: linear-gradient(rgba(5, 7, 12, 0.35), rgba(5, 7, 12, 0.35)), url(../images/event.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.event h1 {
    text-align: center;
    font-size: 1.8rem;
    color: #f2f2f2;
    font-family: Lobster, cursive;
    text-shadow: 5px 5px 5px #000;
    padding: 12% 0 0 0 ;    
}

.event h2 {
    text-align: center;
    font-size: .8rem;
    color: #f2f2f2;
    font-family:  Roboto, sans-serif;
    text-shadow: 2px 2px 2px #000;
    padding:  0;    
}

.event p {
    text-align: center;
    font-size: .8rem;
    color: #f2f2f2;
    font-family:  Roboto, sans-serif;
    text-shadow: 2px 2px 2px #000;
    padding: 0 5% 3% 5% ;   
    margin: 0; 
}




#moreinfo {
    text-align: center;
    font-size: 0.9rem;
    color: #f2f2f2;
    font-family:  Roboto, sans-serif;
    padding: 0 5% 0 5% ;   
    margin: 0; 
}



.wheater {
    text-align: center;
    font-size: 0.9rem;
    font-family: Lobster, cursive;
    background-color: #c8c8c8;
    margin: 0;
}

.wheater h1 {
    padding: 3%;
    margin:  0;
}

.wheater img {
    display: grid;
    margin: 2% 0 2% 20%;
    max-width: 75px;
    float: left;
}

.weatherBox p {
    margin: 0;

}



.weatherBox{
    padding-top: 5%;
    padding-left: 2%;
    font-family:  Roboto, sans-serif;
    display: grid;
    justify-content: left;
    font-size: 1rem;
}


.release {
    background-color: #c8c8c8;
    margin: 0;
}

.release h1 {
    text-align: center;
    font-size: 1.8rem;
    font-family: Lobster, cursive;
    margin: 2%;
    padding: 7.5% 0 0 0;

}

.release p {
    text-align: center;
    font-size: .8rem;
    font-family:  Roboto, sans-serif;
    padding: 2% 10% 2% 9%;   
    margin: 0; 
}



.spotlight-boxes {
    background-color: #b3b3b3;
}

.spotlight, .spotlight3 {
    
    text-align: center;
    font-size: 0.6rem;
    font-family: Lobster, cursive;
    background-color: #c8c8c8;
    margin: 0;
}


.spotlight h1, .spotlight3 h1 {
    margin: 0;
    padding: 3%;
    text-align: center;

}

.spotlight-icon {
    float: left;
    margin: 0 5% 0 5%;
    max-height: 90px;
    padding: 3%;
    
}

.spotlight p {
    display: flex;
    justify-content: center;

    font-family:  Roboto, sans-serif;
    margin: 0;
    font-size: 0.65rem;
    padding: 10px 10px 3px 0;
    text-align: center;

}



#city_contact, #city_brochure, #city_food {
    padding: 1% ;
    font-size: 0.6rem;
    border-top: 1px solid black;
    margin: 0 5% 0 5%;

}


.join {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #c8c8c8;
}

.join a {
    background-color: #242325;
    margin: auto;
    text-align: center;
    padding: 3% 18%;
    border-radius: 15px;
    text-decoration: none;
    border: 1px solid black;
    font-size: 1.2rem;
    font-family: Lobster, cursive;
    color: #eee;
  
}

.join a:hover {
    background-color: #bbb891;
    color: black;
}


.join h1 {
    margin: auto 0;
    max-height: 55px;
    text-align: center;
    font-size: 1.5rem;
    font-family: Lobster, cursive;
    
}



.join p {
    padding: 0 10%;
    margin:  auto;
    text-align: center;
    font-size: 0.8rem;
    font-family:  Roboto, sans-serif;

}




/* FOOOOOOOTEEEEEERR*/

    footer {
        background-color: #242325;
        width: 100%;
        height: 100%;
        color: #eee;     
        display: flex;
        margin: 0;
        flex-direction: column;      
        align-items: center;
    
    }

.section_footer {
    display: flex;
    flex-direction: column;      
    align-items: center;    
}

    #logo_footer {
        margin: 2% 0 0 0;
        max-width: 90px;
        padding-top: 5%;
    }

    .footer_bar {
        text-align: center;
        font-size: 0.5rem;
        
    }

    .footer_bar h3 {
        padding-top: 12px;
        border-top: 1px solid rgb(255, 255, 255);

    }

    .footer_chamber h1 {
        text-align: center;
        letter-spacing: 3pt;
        margin: 0;
        font-size: 1.5rem;
        font-family: Lobster, cursive;
    
      }
    
      .footer_chamber h2 {
        text-align: center;
        margin-top: 0;
        font-size: .6rem;
        font-family:  Roboto, sans-serif;
      }

      .footer_chamber p {
        padding: 0 10%;
        text-align: center;
        font-size: 0.6rem;
        font-family:  Roboto, sans-serif;

      }


      #placeholder {
        max-width: 16px;
      }

      .contact_info {
        text-align: center;
      }

      .contact_info p {
        
        margin: 1.5% 0;
        font-size: 0.5rem;
        font-family:  Roboto, sans-serif;
      }


      .contact_info a {
        font-size: 0.5rem;
        font-family:  Roboto, sans-serif;
      text-decoration: none;
      color: #eee;
    }

    .contact_info a:hover {
        color: #bbb891;
    }






    /* Discover */


    #discover {
        display: flex;
  
        flex-direction: column;
    }


    .lazyimages1 {
        width: 100%;
        text-align: center;
    }

    .lazyimages2 {
        text-align: center;

    }



    .discover_paragraph {
        padding: 5% 10%;
        
        text-align: center;
        
    }

    .discover_subtittle {
        margin: 0;
        text-align: center;
    }
    

