  /* HEADER */

header {

    background-color: #242325;
	padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
	
    
}




.headings {
    color: #eee;
	display: flex;
	flex-direction: column;
    justify-content: start;
    margin-left: 1%;
    margin-bottom: 5%;

}



  #logo {
     max-width: 100px;
     margin-left: 3%;
    
  }



  header h1 {
    letter-spacing: 3pt;
    margin-bottom: 0;
    font-size: 2.2rem;
    font-family: Lobster, cursive;

  }

  header h2 {
    margin-top: 0;
    font-size: .8rem;
    font-family:  Roboto, sans-serif;
  }


  .social {
    text-align: end;
    padding: 2% 8% 2% 2%;
    flex-grow: 1;
    
}

.social svg {
	width: 30px;
	height: auto;
}




/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


nav button {
    width: 90%;
    background-color: #bbb891;
    border: none;
    font-size: 2rem;
    color: #555;
    text-align: end;
    
}


nav {
    display: block;
    background-color: #bbb891;
    font-family: Roboto, sans-serif;;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}



nav ul li a:hover {
    background-color: #c8c8c8 ;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}



#hamburgerBtn span:nth-child(1) {
    display: block;
}

#hamburgerBtn span:nth-child(2) {
    display: none;
}


#hamburgerBtn.open span:nth-child(1) {
    display: none;
}

#hamburgerBtn.open span:nth-child(2) {
    display: block;
}





  /* MAIN */
main {
    grid-template-columns: 1fr ;
}




  main {
    display: grid;
    padding: .1rem;
    
}

.event, .wheater, .join, .release {
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 1px 1px 7px 1px #19191b;
 

    margin: .3rem;
    height: 160px;
}


.spotlight-boxes {

    justify-content: center;
    background-color: #ffffff;
    box-shadow: 1px 1px 7px 1px #19191b;
    max-width: 100%;
    padding: 2%;
    margin: .3rem;
}

.spotlight, .spotlight3 {
    border: solid #000  1px;
    justify-content: center;
    background-color: #efc8c8;
    max-width: 100%;
    height: 100px;
    margin: 0.2rem;

}

.spotlight3 {
    display: none;
}


.hero {

}



