
/* 64rem is also 1028px when basefont is 16px */

@media only screen and (min-width: 63rem) {

    header {


        padding: 0;
       
        
    }

    #banner {
        padding: 1.1%;
        }
        
    #banner p {
          font-size: 1.5rem;
        }

  
    .social {
        padding: 4%;
    }
    .social svg {
        width: 45px;
        
    }




    /*MAIN*/

    main  {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        box-shadow: none;
        padding: .5rem;
        margin: 0;
    }

    .event, .wheater, .join, .release {
    display: grid;
    height: 300px;
    box-shadow: none;
    border: 0.5px solid black ;

}



nav button{
    display: none;
}

    .hero {
        display: grid;
        height: 100%;
        box-shadow: none;
        border: 0.5px solid black ;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav ul#primaryNav {
        display: flex;
        justify-content: center;
       
    }


    nav ul li a {
        border: none;
    }


    .hero {
    background-image: linear-gradient(rgba(5, 7, 12, 0.40), rgba(5, 7, 12, 0.40)), url(../images/hero.jpeg);
    grid-column: 2/4;
    grid-row: 1/3;
    }

    .weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }


    .join {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .release {
        grid-column: 2/4;
        grid-row: 3/4;
    }



    .spotlight-boxes {
        border: 0.5px solid black ;
        box-shadow: none;
        grid-template-columns: 1fr;
 
        grid-column: 4/5;
        grid-row: 1/4;
    }

    .spotlight, .spotlight3 {
        display: grid; 
        height: 95%;
        }


        .hero p {
            font-size: 3rem; 
        }
    
    
        .hero button {
            max-height: 18%;        
        }

        .hero button a {
            padding: 8% 36.5%;
        }



    .event {
        grid-column: 1/2;
        grid-row: 1/2;
        display: block;
    }

    .event h2{
        font-size: 1.8rem;
        padding: 12% 0 5% 0; 
        margin: 0;  
    }

    .event p{
        font-size: 1rem;
        padding: 5%;   
        margin: 0; 
    }

    .event h3{
        font-size: 1.1rem;
        padding: 0 5%;   
        margin: 0; 
    }


    #moreinfo {
        text-align: center;
        font-size: 1rem;
        padding: 0 2%;   
        margin: 0; 
    }


    .wheater {
        display: block;
        text-align: center;
        font-size: 0.9rem;
        font-family: Lobster, cursive;
        background-color: #c8c8c8;
        margin: 0;
    }

    .wheater h2 {
        padding: 8%;
    }
    
    .wheater img {
        margin: 2% 0 2% 20%;
        max-width: 75px;
     
    }


    .release {
        display: block;
        margin: 0;
    }

    .release h1 {
        padding-top: 6%;
    }

    .release p {
        text-align: center;
        font-size: 1rem;
        padding: 2% 10%;
    }

    .spotlight3 p {
        display: flex;
        justify-content: center;
    
        font-family:  Roboto, sans-serif;
        margin: 0;
        font-size: 0.65rem;
        padding: 10px 10px 3px 0;
        text-align: center;
    }    

    .spotlight p, .spotlight3 p {
        font-size: 0.9rem;
        padding: 10px 16px 3px 10px;
        
    }

    #city_contact, #city_brochure, #city_food {
        padding: 1%;
        font-size: 0.8rem;
    
    }

    .spotlight-icon {
        justify-self: center;
        margin:0;
        max-height: 90px;
        padding: 1%;
        
    }


    .join a {

        padding: 3% 18%;
        font-size: 1.4rem;
      
    }



    
.lazyimages1 {
    align-self: end;
}

.lazyimages2 {
    align-self: start;
}

.lazyimages1 picture {
    float: right;
    padding: 3% 2% 3% 5%;
    text-align: center;
}

.lazyimages2 picture {
    float: left;
    padding: 3% 5% 3% 2%;
    text-align: center;
}



.discover_paragraph {
    padding: 0% 5%;
    text-align: center;
    
}


 .discover_subtittle {
    text-align: center;
    padding: 10% 5% 0% 5%;
    width: 100%;
    font-size: 2rem;


}


    
  /* JOIN FORM */

  .joinpage {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .membership-prices {
    padding-top: 10%;
  }

 
    .prices h3 {
      font-size: 2rem;
    }
    .prices h4 {
      color: #000;
      font-size: 1.5rem;
    }
    .prices span {
      display: block;
      font-size: 1.2rem;
      text-align: left;
      margin-left: 10%;
      margin-top: 0;
    }
    
    .list section {
        grid-template-columns:1fr 4fr;
    }

    .list section img {
        max-width: 250px;
        display: block;
    }

    .infocontainer h2 {
        font-size: 1.5rem;
    }
   
    .list section p,  .list section a{
        font-size: 1.2rem;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid section{
        max-width: 450px;
    }

    .grid img{
        max-width: 100%;
    }

}