
/* 64rem is also 1028px when basefont is 16px */

@media only screen and (min-width: 64rem) {


  
    .social svg {
        width: 45px;
    }




    /*MAIN*/


    .event {
        background-color: black;
        width: 100%;
    }

}