/* 

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Fanwood+Text:ital@0;1&family=IBM+Plex+Serif:ital,wght@0,600;1,300&family=Roboto:wght@100;300&display=swap');


Google Fonts Chose in the API:
font-family: 'Comfortaa', cursive;
font-family: 'Fanwood Text', serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'Roboto', sans-serif;

*/



header h1{
    color: aliceblue;
    font-size: 1.5em;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
}

img{
    margin: 5px 15px;
}


header {
    display: flex;
    justify-content: center;
    max-width: 650px;
    height: 7em;
    margin: auto;
    background-color: rgb(22, 22, 58);
    border-radius: 10px 10px;
    box-shadow: 0.5px 2px 10px;
}


main{
    max-width: 500px;
    margin: auto;
}

main h2 {
    font-size: 1.5em;
    font-family:'Times New Roman', Times, serif;
}

footer{
    display: flex;
    justify-content: center;
    max-width: 650px;
    height: 6em;
    margin: auto;
    background-color: rgb(22, 22, 58);
    border-radius: 10px 10px;
    box-shadow: 1px 2px 10px;    
}

.footer_bar h3, h4 {
    font-size: 13px;
    color: aliceblue;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}



