
.photo_bar{
    display: flex;
    justify-content: center;
}

.photo_bar h1{
    color: aliceblue;
    font-size: 1.8em;
    margin: auto;
    font-family:'Times New Roman', Times, serif;
}

img{
    margin: 5px 15px;
}


header {
    max-width: 650px;
    height: 7em;
    margin: auto;
    background-color: rgb(22, 22, 58);
    border-radius: 10px 10px;
    box-shadow: 0.5px 2px 10px;
}


main{
    max-width: 500px;
    margin: auto;
}

main h2 {
    font-size: 2em;
    font-family:'Times New Roman', Times, serif;
}

footer{
    display: flex;
    justify-content: center;
    max-width: 650px;
    height: 6em;
    margin: auto;
    background-color: rgb(22, 22, 58);
    border-radius: 10px 10px;
    box-shadow: 1px 2px 10px;    
}

.footer_bar h3, h4 {
    font-size: 15px;
    color: aliceblue;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}



